h1 {
  color: hsl(0, 6%, 24%);
  font-size: 35px;
  line-height: 15px;
  text-align: center;
}

h2 {
  color: hsl(0, 36%, 70%);
  font-weight: 100;
  font-size: 35px;
  line-height: 10px;
  text-align: center;
}

p {
  color: hsl(0, 36%, 70%);
  text-align: center;
  line-height: 20px;
  margin: 10px;
  margin-bottom: 30px;
}

@media (max-width: 1220px) {
  section {
    width: 375px;
    margin: 0 auto;
    background-color: hsl(0, 0%, 100%);
  }

  body {
    margin: 0 auto;
  }

  .logo {
    object-fit: cover;
    height: 20px;
    padding: 30px;
  }

  .photomobile {
    object-fit: contain;
    width: 300px;
    padding-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: row;
  }

  .textBox {
    color: hsl(0, 6%, 24%);
    flex-direction: row;
    height: 38px;
    width: 325px;
    margin: 0 auto;
    border: 1px solid hsl(0, 0%, 82%);
    border-radius: 25px;
  }

  .box {
    margin-left: 293px;
    position: absolute;
    font-size: 30px;
    text-align: center;
    height: 42px;
    width: 60px;
    color: white;
    border: 1px solid hsl(0, 62%, 80%);
    border-radius: 25px;
    background-image: linear-gradient(360deg, hsl(0, 74%, 74%), hsl(0, 62%, 80%));
    box-shadow: 0 10px 6px -6px rgb(150, 150, 150);
  }

  .photodesktop {
    display: none;
  }
}


@media (min-width: 1220px) {
  section {
    margin: 0 auto;
    background-color: hsl(0, 0%, 100%);
  }

  body {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }

  .logo {
    object-fit: cover;
    height: 20px;
    padding: 30px;
  }

  .photomobile {
    display: none;
  }

  form {
    display: flex;
    flex-direction: row;
  }

  .textBox {
    color: hsl(0, 6%, 24%);
    flex-direction: row;
    height: 38px;
    width: 325px;
    margin: 0 auto;
    border: 1px solid hsl(0, 0%, 82%);
    border-radius: 25px;
  }

  .box {
    margin-left: 293px;
    position: absolute;
    font-size: 30px;
    text-align: center;
    height: 42px;
    width: 60px;
    color: white;
    border: 1px solid hsl(0, 62%, 80%);
    border-radius: 25px;
    background-image: linear-gradient(360deg, hsl(0, 74%, 74%), hsl(0, 62%, 80%));
    box-shadow: 0 10px 6px -6px rgb(150, 150, 150);
  }

  .photodesktop {
    object-fit: contain;
    width: 310px;
  }
}
