<section>
  <body>
      <div>
        <img class="logo" src="/assets/images/logo.png">
        <div class="photomobile">
          <img src="/assets/images/hero-mobile.jpg">
        </div>
        <h2>W E ' R E</h2>
        <h1>C O M I N G</h1>
        <h1>S O O N</h1>
        <p>Hello fellow shoppers! We're currently building our new fashion store. Add your email below to stay up-to-date
          with announcements and our launch deals.</p>
        <form>
          <input class="textBox" type="text" name="email" placeholder="E-mail Address">
          <input class="box" type="button" value=">">
        </form>
      </div>
      <div class="photodesktop">
        <img src="/assets/images/hero-desktop.jpg">
      </div>
  </body>
</section>
